<nav>
	<a class='baseLink' href="/">About me</a>
	<a class='baseLink' href="/portraits">Portraits</a>
</nav>

<button id="menuButton" type="submit" name="Menu button">
	<svg width="36px" height="36px" class='{isMobile ? "orange" : ""}'>
		<rect x="5" y="5" width="26px" height="2"></rect>
		<rect x="5" y="17" width="26px" height="2"></rect>
		<rect x="5" y="29" width="26px" height="2"></rect>
	</svg>
</button>