<main>
	<div id="Me">
		<picture>
			<source srcset="images/DSC08485_960.webp 960w, images/DSC08485_1920.webp 1920w" type="image/webp" sizes="35vw">
			<img src="images/DSC08485_1920.jpg" alt="Me" loading="lazy"/>
		</picture>
		<picture>
			<source srcset="images/DSC02697_960.webp 960w, images/DSC02697_1920.webp 1920w" type="image/webp" sizes="35vw">
			<img src="images/DSC02697_1920.jpg" alt="Me" loading="lazy"/>
		</picture>
		<picture>
			<source srcset="images/DSC05921_960.webp 960w, images/DSC05921_1920.webp 1920w" type="image/webp" sizes="35vw">
			<img src="images/DSC05921_1920.jpg" alt="Me" loading="lazy"/>
		</picture>
	</div>
	<div id="About" itemscope itemtype="http://schema.org/Person">
		<h1>About me</h1>
		<p>Hello everyone visited my site! Here you can see my photo works and find out who I am. <br>
			My name is Ivan Pavlov, I have 31 years old and live in Saint-Petersburg.<br>
			On my site I present my photo of beautiful peoples and landscapes. Fo time spend on filming I had my own style and the vision of world. You can notice I like bright and
			contrast images with vivid colors.<br>
			Now I like a portrait environmental photography on wide-angle lens and sometimes I take natural dynamic pictures "as is" with an emphasis on emotions in my photos. I
			make a
			sufficient natural retouch of skin (if it needs) without over
			blurring, but very well hiding any skin blemishes.<br>
			Might say the Photography is hobby at first for me, bringing pleasant emotions at a process of filming and the final result.</p>
		<p>If my photo works are in accordance with your vision of a world - we have the similar taste for photography and could take the brilliant result in a photo shoot; of
			course
			with a huge amount of emotions for you.<br>
			You can find me on <a href="https://www.facebook.com/profile.php?id=1835855816"><strong>Facebook</strong></a> or <a
					href="https://vk.com/ivanpavlovphoto"><strong>VK</strong></a> and on my <a
					href="https://www.facebook.com/IvanPavlovPhotographer/"><strong>Photopage</strong></a>,
			you can watch for adding my new photo works.</p>
		<p>Will be glad new acquaintance and fruitful cooperation!</p>
		<p>&nbsp;</p>
		<p>Discuss of shooting details is able on a phone: <a href="tel:+79313037952"><strong itemprop="telephone">+7 (931) 303-79-52</strong></a> (<span
				itemprop="name">Ivan Pavlov</span>), or write me a letter <strong><a href="mailto:info@ivanpavlovphotograph.ru"
		                                                                             itemprop="email">info@ivanpavlovphotograph.ru</a></strong> or Facebook.</p>
		<p>I am on <a href="https://www.instagram.com/ivanpavlovphotograph/"><strong>instagram</strong></a>.</p>
	</div>
</main>